# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: ".github/workflows" # Location of package manifests
    labels:
      - dependencies
      - dev-automation
      - github_actions
      - no-changelog-entry-needed
    schedule:
      interval: "monthly"
    groups:
      actions:
        patterns:
          - "*"
    cooldown:
      default-days: 7

  - package-ecosystem: uv
    directory: /
    labels:
      - dependencies
      - dev-automation
      - no-changelog-entry-needed
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    groups:
      uv.lock-patches:
        update-types:
        - patch
