# clang-format configuration adapted from the Numpy project, see licenses/NUMPY_LICENSE.rst

BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevel
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakStringLiterals: false
ColumnLimit: 120
ContinuationIndentWidth: 4
DerivePointerAlignment: false
IndentWidth: 2
IncludeBlocks: Preserve
IndentPPDirectives: None
Language: Cpp
IndentGotoLabels: false
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
ReflowComments: false
SortIncludes: false
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
SpacesInParentheses: false
StatementMacros: [PyObject_HEAD, PyObject_VAR_HEAD, PyObject_HEAD_EXTRA]
TabWidth: 4
UseTab: Never
