Adam Ginsburg       <keflavich@gmail.com> 
Adam Ginsburg       <keflavich@gmail.com> Adam Ginsburg <adam.g.ginsburg@gmail.com>
Alex Conley         <alexander.conley@colorado.edu> Alexander Conley <alexander.conley@colorado.edu>
Alex Hagen          <mr.alex.hagen@gmail.com>
Daniel Bell         <stampsrule@gmail.com> Daniel <idaniel@me.com>
Daniel Bell         <stampsrule@gmail.com> stampsrule <stampsrule@gmail.com>
Demitri Muna        <demitri.muna@gmail.com> <demitri@me.com>
Demitri Muna        <demitri.muna@gmail.com> <beswiftly@gmail.com>
Dylan Gregersen     <gregersen.dylan@gmail.com>
Emma Hogan          <ehogan@gemini.edu>
Erik M. Bray        <erik.m.bray@gmail.com> <embray@stsci.edu>
Erik M. Bray        <erik.m.bray@gmail.com> Erik Bray <erik.m.bray@gmail.com>
Gustavo Bragança    <ga.braganca@gmail.com>
Hans Moritz Günther <moritz.guenther@gmx.de>
Jeff Taylor         <jeff.c.taylor@gmail.com>
Kacper Kowalik      <xarthisius@gentoo.org>
Kirill Tchernyshyov <ktchernyshyov@pha.jhu.edu>
Marten van Kerkwijk <mhvk@astro.utoronto.ca> <mhvk@swan.astro.utoronto.ca>
Matt Davis          <jiffyclub.programatic@gmail.com>
Nadia Dencheva      <nadia.astropy@gmail.com> <nadia.dencheva@gmail.com>
Neil Crighton       <neilcrighton@gmail.com>
Simon Conseil       <contact@saimon.org>
Thomas Erben        <terben@astro.uni-bonn.de> <thomas@astro.uni-bonn.de>
Tom Aldcroft        <taldcroft@gmail.com> <aldcroft@dhcp-131-142-152-173.cfa.harvard.edu>
Zach Edwards        <Zachary.Astro@Gmail.com>
