Adam Ginsburg       <keflavich@gmail.com> 
Adam Ginsburg       <keflavich@gmail.com> Adam Ginsburg <adam.g.ginsburg@gmail.com>
Alex Conley         <alexander.conley@colorado.edu> Alexander Conley <alexander.conley@colorado.edu>
Alex Hagen          <mr.alex.hagen@gmail.com>
Asish Panda         <asishrocks95@gmail.com>
Axel Donath         <axel.donath@mpi-hd.mpg.de>
Bryce Nordgren      <bnordgren@gmail.com>
Bogdan Nicula       <bogdan@nicula.net>
Christopher Bonnett <c.bonnett@gmail.com>
Christoph Gohlke    <cgohlke@uci.edu>
Curtis McCully      <cmccully@lcogt.net>
Daniel Bell         <stampsrule@gmail.com> Daniel <idaniel@me.com>
Daniel Bell         <stampsrule@gmail.com> stampsrule <stampsrule@gmail.com>
Daniel Datsev       <dan.datsev@gmail.com>
Daniel Datsev       <dan.datsev@gmail.com> <fabled@vortex.(none)>
David Pérez-Suárez  <dps.helio@gmail.com>
Demitri Muna        <demitri.muna@gmail.com> <demitri@me.com>
Demitri Muna        <demitri.muna@gmail.com> <beswiftly@gmail.com>
Dylan Gregersen     <gregersen.dylan@gmail.com>
Emma Hogan          <ehogan@gemini.edu>
Moataz Hisham       <mtzhisham@gmail.com>
Erik M. Bray        <erik.m.bray@gmail.com> <embray@stsci.edu>
Erik M. Bray        <erik.m.bray@gmail.com> Erik Bray <erik.m.bray@gmail.com>
Gerrit Schellenberger <gerrit@uni-bonn.de>
Gustavo Bragança    <ga.braganca@gmail.com>
Hans Moritz Günther <moritz.guenther@gmx.de>
Hans Moritz Günther <moritz.guenther@gmx.de> hamogu <hgunther@mit.edu>
James Turner        <jturner@gemini.edu>
Jeff Taylor         <jeff.c.taylor@gmail.com>
Kacper Kowalik      <xarthisius@gentoo.org>
Karan Grover        <karan@karan-HP-Pavilion-dm4-Notebook-PC.(none)>
Kirill Tchernyshyov <ktchernyshyov@pha.jhu.edu>
Kelle Cruz          <kellecruz@gmail.com>
Kevin Gullikson     <kevin.gullikson@gmail.com>
Lisa Walter         <lisa@stsci.edu>
Marten van Kerkwijk <mhvk@astro.utoronto.ca> <mhvk@swan.astro.utoronto.ca>
Matt Davis          <jiffyclub.programatic@gmail.com>
Nadia Dencheva      <nadia.astropy@gmail.com> <nadia.dencheva@gmail.com>
Neil Crighton       <neilcrighton@gmail.com>
Perry Greenfield    <perry@stsci.edu>
Pritish Chakraborty <chakrabortypritish@gmail.com>
Ryan Cooke          <ryancooke86@gmail.com>
Shantanu Srivastava <shan_mbic@rediffmail.com>
Simon Conseil       <contact@saimon.org>
Simon Liedtke       <liedtke.simon@googlemail.com>
Thomas Erben        <terben@astro.uni-bonn.de> <thomas@astro.uni-bonn.de>
Thompson Le Blanc   <leblanc@stsci.edu>
Thompson Le Blanc   <leblanc@stsci.edu> astrocaribe <tlcommodore@gmail.com>
Tom Aldcroft        <taldcroft@gmail.com> <aldcroft@dhcp-131-142-152-173.cfa.harvard.edu>
Zach Edwards        <Zachary.Astro@Gmail.com>
Jonathan Foster     <jonathan.bruce.foster@gmail.com>
David Kirby         <dkirkby@uci.edu>
Albert Y. Shih      <ayshih@gmail.com>
Lingyi Hu           <hulingyi1995@yahoo.com.sg>