language: python

python:
    - 2.6
    - 2.7
    - 3.3
    - 3.4
    # This is just for "egg_info".  All other builds are explicitly given in the matrix
env:
    matrix:
        - SETUP_CMD='egg_info' NUMPY_VERSION=1.8 OPTIONAL_DEPS=false

matrix:
    include:

        # Do a coverage test in Python 2
        - python: 2.7
          env: NUMPY_VERSION=1.8 SETUP_CMD='test --coverage' OPTIONAL_DEPS=true

        # Check for sphinx doc build warnings - we do this first because it
        # runs for a long time
        - python: 2.7
          env: SETUP_CMD='build_sphinx -w' NUMPY_VERSION=1.8 OPTIONAL_DEPS=true
          # OPTIONAL_DEPS needed because the plot_directive in sphinx needs them

        # Try all python versions with the latest numpy
        - python: 2.6
          env: SETUP_CMD='test --parallel=8' NUMPY_VERSION=1.8 OPTIONAL_DEPS=false
        - python: 2.7
          env: SETUP_CMD='test --parallel=8' NUMPY_VERSION=1.8 OPTIONAL_DEPS=false
        # There is a bug in pytest-xdist that prevents it from working
        # on Python 3.x.  See:
        # https://bitbucket.org/hpk42/pytest/issue/301/internal-error-during-test-collecting
        - python: 3.3
          env: SETUP_CMD='test' NUMPY_VERSION=1.8 OPTIONAL_DEPS=false
        - python: 3.4
          env: SETUP_CMD='test' NUMPY_VERSION=1.8 OPTIONAL_DEPS=false

        # Now try do scipy on 2.7 and an appropriate 3.x build (with latest numpy)
        - python: 2.7
          env: SETUP_CMD='test --parallel=8' NUMPY_VERSION=1.8 OPTIONAL_DEPS=true LC_CTYPE=C.ascii
        - python: 3.3
          env: SETUP_CMD='test' NUMPY_VERSION=1.8 OPTIONAL_DEPS=true LC_CTYPE=C.ascii

        # Try alternate numpy versions
        - python: 2.7
          env: NUMPY_VERSION=1.7 SETUP_CMD='test --parallel=8' OPTIONAL_DEPS=false
        - python: 2.7
          env: NUMPY_VERSION=1.6 SETUP_CMD='test --parallel=8' OPTIONAL_DEPS=false
        - python: 2.7
          env: NUMPY_VERSION=1.5 SETUP_CMD='test --parallel=8' OPTIONAL_DEPS=false

before_install:

    # Use utf8 encoding. Should be default, but this is insurance against
    # future changes
    - export PYTHONIOENCODING=UTF8
    - source .setup_conda.sh $TRAVIS_PYTHON_VERSION
    - export PATH=/home/travis/anaconda/bin:$PATH

    # DOCUMENTATION DEPENDENCIES
    - if [[ $SETUP_CMD == build_sphinx* ]]; then sudo apt-get install graphviz texlive-latex-extra dvipng; fi

install:

    # CONDA
    - conda create --yes -n test python=$TRAVIS_PYTHON_VERSION
    - source activate test

    # CORE DEPENDENCIES
    # These command run pip first trying a wheel, and then falling back on
    # source build
    - if [[ $SETUP_CMD != egg_info ]]; then conda install --yes numpy=$NUMPY_VERSION pytest pip Cython; fi
    - if [[ $SETUP_CMD != egg_info ]]; then pip install pytest-xdist; fi

    # OPTIONAL DEPENDENCIES
    - if $OPTIONAL_DEPS; then conda install --yes scipy h5py; fi
    - if $OPTIONAL_DEPS; then pip install beautifulsoup4; fi

    # DOCUMENTATION DEPENDENCIES
    # build_sphinx needs sphinx and matplotlib (for plot_directive). Note that
    # this matplotlib will *not* work with py 3.x, but our sphinx build is
    # currently 2.7, so that's fine
    - if [[ $SETUP_CMD == build_sphinx* ]]; then conda install --yes Sphinx matplotlib; fi

    # COVERAGE DEPENDENCIES
    - if [[ $SETUP_CMD == 'test --coverage' ]]; then pip install coverage coveralls; fi

script:
    - python setup.py $SETUP_CMD

after_success:
  - if [[ $SETUP_CMD == 'test --coverage' ]]; then coveralls; fi
