language: python

python:
    - 2.7
    - 2.6
    - 3.2
env:
    - NUMPY_VERSION=1.6.2 ONLY_EGG_INFO=false OPTIONAL=false
    - NUMPY_VERSION=1.5.1 ONLY_EGG_INFO=false OPTIONAL=false
    - NUMPY_VERSION=1.4.1 ONLY_EGG_INFO=false OPTIONAL=false

matrix:
    include:
        - python: 2.7
          env: NUMPY_VERSION=1.6.2 ONLY_EGG_INFO=false OPTIONAL=true
        - python: 2.7
          env: NUMPY_VERSION=1.6.2 ONLY_EGG_INFO=true OPTIONAL=false
        - python: 3.2
          env: NUMPY_VERSION=1.6.2 ONLY_EGG_INFO=true OPTIONAL=false
    exclude:
        - python: 3.2
          env: NUMPY_VERSION=1.5.1 ONLY_EGG_INFO=false OPTIONAL=false
        - python: 3.2
          env: NUMPY_VERSION=1.4.1 ONLY_EGG_INFO=false OPTIONAL=false

before_install:
   # We do this to make sure we get the dependencies so pip works below
   - sudo apt-get update -qq
   - sudo apt-get install -qq python-numpy python-scipy cython libatlas-dev liblapack-dev gfortran
   - sudo apt-get install -qq libhdf5-serial-1.8.4 libhdf5-serial-dev
install:
   - export PYTHONIOENCODING=UTF8 # just in case
   - pip install --upgrade "numpy==$NUMPY_VERSION" -q --use-mirrors
   - if $OPTIONAL; then pip install scipy -q --use-mirrors; fi
   - if $OPTIONAL; then pip install h5py -q --use-mirrors; fi
   - if ! $ONLY_EGG_INFO; then pip install Cython -q --use-mirrors; fi
script:
   - if $ONLY_EGG_INFO; then python setup.py egg_info; fi
   - if ! $ONLY_EGG_INFO; then python setup.py test; fi
