version: 2

jobs:
  32bit_py2:
    docker:
      - image: quay.io/pypa/manylinux1_i686
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: /opt/python/cp27-cp27m/bin/pip install numpy scipy "pytest<3.7" pytest-astropy pytest-xdist Cython jinja2
      - run:
          name: Run tests
          command: |
            git reset HEAD
            PYTHONHASHSEED=42 /opt/python/cp27-cp27m/bin/python setup.py test --parallel=4
  32bit_py3:
    docker:
      - image: quay.io/pypa/manylinux1_i686
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: /opt/python/cp36-cp36m/bin/pip install numpy scipy "pytest<3.7" pytest-astropy pytest-xdist Cython jinja2
      - run:
          name: Run tests
          command: PYTHONHASHSEED=42 /opt/python/cp36-cp36m/bin/python setup.py test --parallel=4 -V -a "--durations=50" || (git reset HEAD && PYTHONHASHSEED=42 /opt/python/cp36-cp36m/bin/python setup.py test --parallel=4 -V -a "--durations=50")
  image-tests-mpl153:
    docker:
      - image: astropy/image-tests-py35-mpl153:1.0
    steps:
      - checkout
      - run:
          name: Run tests
          command: |
            python3 setup.py test -P visualization --remote-data=astropy -a "--mpl"
  image-tests-mpl202:
    docker:
      - image: astropy/image-tests-py35-mpl202:1.3
    steps:
      - checkout
      - run:
          name: Run tests
          command: |
            python3 setup.py test -P visualization --remote-data=astropy -a "--mpl"

  image-tests-mpl212:
    docker:
      - image: astropy/image-tests-py35-mpl212:1.3
    steps:
      - checkout
      - run:
          name: Run tests
          command: |
            python3 setup.py test -P visualization --remote-data=astropy -a "--mpl"

  image-tests-mpl222:
    docker:
      - image: astropy/image-tests-py35-mpl222:1.3
    steps:
      - checkout
      - run:
          name: Run tests
          command: |
            python3 setup.py test -P visualization --remote-data=astropy -a "--mpl"

  image-tests-mpl300:
    docker:
      - image: astropy/image-tests-py35-mpl300:1.3
    steps:
      - checkout
      - run:
          name: Temporarily downgrade pytest
          command: pip3 install "pytest<3.7"
      - run:
          name: Run tests
          command: |
            python3 setup.py test -P visualization --remote-data=astropy -a "--mpl"


workflows:
  version: 2
  build_and_test:
    jobs:
      - 32bit_py2
      - 32bit_py3
      - image-tests-mpl153
      - image-tests-mpl202
      - image-tests-mpl212
      - image-tests-mpl222
      - image-tests-mpl300
