# -*- coding: utf-8 -*-

### CONSOLE SETTINGS

## Use Unicode characters when outputting values, and writing widgets to the
## console.
# unicode_output = False

## When True, use ANSI color escape sequences when writing to the console.
# use_color = True

## Maximum number of lines for the pretty-printer.  If not provided,
## determine automatically from the size of the terminal.  -1 means no
## limit.
# max_lines =

## Maximum number of characters-per-line for the pretty-printer.  If
## not provided, determine automatically from the size of the
## terminal, if possible.  -1 means no limit.
# max_width =


### CORE DATA STRUCTURES AND TRANSFORMATIONS

[nddata]

## Whether to issue a warning if NDData arithmetic is performed with
## uncertainties and the uncertainties do not support the propagation of
## correlated uncertainties.
# warn_unsupported_correlated = True

## Whether to issue a warning when the `~astropy.nddata.NDData` unit
## attribute is changed from a non-``None`` value to another value
## that data values/uncertainties are not scaled with the unit change.
# warn_setting_unit_directly = True

[table]

## The template that determines the name of a column if it cannot be
## determined. Uses new-style (format method) string formatting
# auto_colname = col{0}

[table.jsviewer]

## The URL to the jQuery library to use.  If not provided, uses the
## internal copy installed with astropy.
# jquery_url =

## The URL to the jQuery datatables library to use.  If not provided,
## uses the internal copy installed with astropy.
# datatables_url =

### ASTRONOMY COMPUTATIONS AND UTILITIES

[vo]

## URL where VO Service database file is stored.
# vos_baseurl = http://stsdas.stsci.edu/astrolib/vo_databases/

## Conesearch database name.
# conesearch_dbname = conesearch_good

[vo.samp]

## Whether to allow astropy.vo.samp to use the internet, if available
# use_internet = True

[vo.validator]

## Cone Search services master list for validation.
# conesearch_master_list = http://vao.stsci.edu/directory/NVORegInt.asmx/VOTCapabilityPredOpt?predicate=1%3D1&capability=conesearch&VOTStyleOption=2

## Only check these Cone Search URLs.
# conesearch_urls =

## VO Table warning codes that are considered non-critical
# noncritical_warnings = W03, W06, W07, W09, W10, W15, W17, W20, W21, W22, W27, W28, W29, W41, W42, W48, W50


### INPUT/OUTPUT

[io.fits]

## If True, enable support for record-valued keywords as described by FITS WCS
## Paper IV. Otherwise they are treated as normal keywords.
# enable_record_valued_keyword_cards = True

## If True, extension names (i.e. the EXTNAME keyword) should be treated as
## case-sensitive.
# extension_name_case_sensitive = False

## If True, automatically remove trailing whitespace for string values in
## headers.  Otherwise the values are returned verbatim, with all whitespace
## intact.
# strip_header_whitespace = True

## If True, use memory-mapped file access to read/write the data in FITS files.
## This generally provides better performance, especially for large files, but
## may affect performance in I/O-heavy applications.
# use_memmap = True

[io.votable]

## When True, treat fixable violations of the VOTable spec as exceptions.
# pedantic = True


### NUTS AND BOLTS OF ASTROPY


[logger]

## Threshold for the logging messages. Logging messages that are less severe
## than this level will be ignored. The levels are 'DEBUG', 'INFO', 'WARNING',
## 'ERROR'
# log_level = INFO

## Whether to log warnings.warn calls
# log_warnings = True

## Whether to log exceptions before raising them
# log_exceptions = False

## Whether to always log messages to a log file
# log_to_file = False

## The file to log messages to. When '', it defaults to a file 'astropy.log' in
## the astropy config directory.
# log_file_path = ""

## Threshold for logging messages to log_file_path
# log_file_level = INFO

## Format for log file entries
# log_file_format = "%(asctime)r, %(origin)r, %(levelname)r, %(message)r"

[utils.data]

## URL for astropy remote data site.
# dataurl = http://data.astropy.org/

## Time to wait for remote data query (in seconds).
# remote_timeout = 3.0

## Block size for computing MD5 file hashes.
# hash_block_size = 65536

## Number of bytes of remote data to download per step.
# download_block_size = 65536

## Number of times to try to get the lock while accessing the data cache before
## giving up.
# download_cache_lock_attempts = 5

## If True, temporary download files created when the cache is inacessible will
## be deleted at the end of the python session.
# delete_temporary_downloads_at_exit = True
