Byte-by-byte Description of file: $file
--------------------------------------------------------------------------------
 Bytes Format Units  Label     Explanations
--------------------------------------------------------------------------------
$bytebybyte
--------------------------------------------------------------------------------
