$catalogue                                                      ($author, $date)
================================================================================
$title
    $authors
    $bibcode
================================================================================
Keywords: $keywords

Objects:
    -----------------------------------------
       RA   (2000)   DE    Designation(s)
    -----------------------------------------

Abstract:
  $abstract

File Summary:
--------------------------------------------------------------------------------
 FileName    Lrecl   Records    Explanations
--------------------------------------------------------------------------------
$tablesIndex

--------------------------------------------------------------------------------
$bytebybyte

See also:
$seealso

Acknowledgements:

References:
================================================================================
     (prepared by author  / pyreadme )
